$base-background-color: #f3f7fa;
$base-login-color: #74BFCC;
$base-label-color: #566073;

body{
    background-color: $base-background-color !important;
    overflow: hidden !important;
}

.auth-card{     //  style from login
    border: none !important;
    background-color: transparent !important;
    .container-login{
        background-color: $base-background-color;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .wrap-login{
            color: white;
            background-color: #424242;
            padding: 30px 55px 33px 55px;
            .login-form{
                width: 100%;
                .form-control{
                    margin: 15px 0px;
                }
                .login-form-title{
                    display: block;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 30px;
                    color: white;
                    line-height: 1.2;
                    text-align: center;
                }
                .btn-user-login{
                    width: 100%;
                }
            }
        }
    }
}

.container-main-app{
    display: flex;
    .dashboard-wrapper{     
        align-content: stretch;
        .container-navigation{
            .nav-bar{
                width: 240px;
                .sidebar{
                    max-width: 240px;
                    background-color: #424242;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    min-height: 100vh;
                    .link-router{
                        color: white;
                        text-decoration: none;
                        .list-button{
                            padding: 20px 10px;
                        }
                    }
                }
            }
        }
        .container-app{
            min-height: 100vh;
            width: 100vh;
        }
    }
}

.form-main{
    height: 100vh;
    width: 100vh;
    color: $base-label-color;
    display: inline;
    .title-cite{
        text-align: center;
    }
    .img-cite-logo{
        background-image: url('https://ejercito.mil.bo/then3wpag/pictures/ima_institutos/para.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
        margin: 30vh 75vh;
        background-position-x: center;
    }
}

.form-create-course{
    color: $base-label-color;
    height: 100vh;
    width: 100vh;
    .container-create-course{
        padding: 10px 15px;
        .title-form-course{
            margin-bottom: -15px;
            .title-cite{
                margin-bottom: -5px;
            }
        }
        .container-data-course{
            width: 175.5%;
        }
    }
    
}